# Pandas : Library for data analysis and manipulation

# It is a library that provides ability to work with Tabular data.

In [14]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\anirb\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\anirb\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.20.3 in c:\users\anirb\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from pandas) (1.23.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\anirb\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from pandas) (2022.6)
Requirement already satisfied: six>=1.5 in c:\users\anirb\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

WARNING: You are using pip version 22.0.4; however, version 22.3.1 is available.
You should consider upgrading via the 'C:\Users\anirb\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

In [12]:
import pandas as pd

# Series is a one dimensional lebelled array that can hold/store data.

In [13]:
mybooks = ['b1','b2','b3','b4']

In [14]:
book_title = pd.Series(mybooks, index=['a','b','c','d'])  #defining specific indexes for the list elements using 'index' parameter.
book_title

a    b1
b    b2
c    b3
d    b4
dtype: object

In [15]:
type(book_title)

pandas.core.series.Series

# DataFrame -
# 2D labelled array having index and columns.
# multiple series combined together to form a dataframe.
# it is a widely used data structure in Pandas.

In [16]:
import numpy as np

In [17]:
arr = np.random.randint(10,100,size=(6,4)) # creating a maxtrix of random numbers using numpy array
arr

array([[22, 80, 34, 55],
       [69, 68, 96, 53],
       [45, 77, 51, 51],
       [37, 57, 34, 33],
       [66, 19, 43, 25],
       [77, 30, 45, 57]])

In [18]:
df = pd.DataFrame(data = arr) # creating a data frame from the matrix
df

    0   1   2   3
0  22  80  34  55
1  69  68  96  53
2  45  77  51  51
3  37  57  34  33
4  66  19  43  25
5  77  30  45  57

# changing the column name

In [19]:
df = pd.DataFrame(data = arr,columns=['A','B','C','D'])
df

    A   B   C   D
0  22  80  34  55
1  69  68  96  53
2  45  77  51  51
3  37  57  34  33
4  66  19  43  25
5  77  30  45  57

In [20]:
df.columns = ['A','B','C','D']
df

    A   B   C   D
0  22  80  34  55
1  69  68  96  53
2  45  77  51  51
3  37  57  34  33
4  66  19  43  25
5  77  30  45  57

In [21]:
type(df)

pandas.core.frame.DataFrame

In [22]:
# extracting a specific column 
df[2]

KeyError: 2

In [ ]:
# fetching the top three rows
df.head(n=3)

    A   B   C   D
0  35  79  72  59
1  22  99  88  12
2  73  48  27  72

In [ ]:
# fetching the bottom three rows
df.tail(n=3)

    A   B   C   D  A+B
3  57  64  69  80  121
4  74  93  21  54  167
5  61  91  37  74  152

In [ ]:
# ectracting a specific column
df['C']

0    72
1    88
2    27
3    69
4    21
5    37
Name: C, dtype: int32

In [ ]:
# ectracting several columns
cols = ['A','C']
df[cols]

NameError: name 'df' is not defined

In [ ]:
# adding the values of two columns
df['A+B'] = df['A']+df['B']
df

    A   B   C   D  A-B  A+B
0  35  79  72  59  -44  114
1  22  99  88  12  -77  121
2  73  48  27  72   25  121
3  57  64  69  80   -7  121
4  74  93  21  54  -19  167
5  61  91  37  74  -30  152

In [ ]:
df['A-B'] = df['A']-df['B']
df

    A   B   C   D  A-B  A+B
0  35  79  72  59  -44  114
1  22  99  88  12  -77  121
2  73  48  27  72   25  121
3  57  64  69  80   -7  121
4  74  93  21  54  -19  167
5  61  91  37  74  -30  152

In [ ]:
# removing a column
df.drop(columns=['A-B'],inplace=True)
df

    A   B   C   D  A+B
0  35  79  72  59  114
1  22  99  88  12  121
2  73  48  27  72  121
3  57  64  69  80  121
4  74  93  21  54  167
5  61  91  37  74  152